@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: white !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  font-family: "Righteous", "sans-serif";
  /* cursor: none; */
  padding-top: 1.5rem /* 24px */;
  padding-bottom: 1.5rem /* 24px */;
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.colored-text {
  /* font-size: 96px; */
  animation: ColorRotate 25s linear infinite;
  background: -webkit-linear-gradient(45deg, rgb(0, 81, 255), rgb(120, 56, 162));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.colored-button-border {
  background-clip: padding-box; /* !importanté */
  background: none;
  border: solid 1px transparent;
  color: white;
}

.colored-button-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px; /* !importanté */
  border-radius: inherit; /* !importanté */
  animation: ColorRotate 25s linear infinite;
  background: linear-gradient(to right, rgb(0, 81, 255), rgb(120, 56, 162));
}

@keyframes ColorRotate {
  0% {
    filter: hue-rotate(0deg);
  }

  70% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}
